{% extends 'index.html'%}


{%block content%}
  <div class="container d-flex justify-content-center align-items-center flex-column">
    <a href="{% url 'createTodoItem' %}" class="form-control m-3 w-50">Add todo item</a>
    {% for item in items %}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title text-center">{{item.id}}</h5>
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">{{item.description}}</p>
        <p class="card-text">{{item.createAt}}</p>
        <a href="{% url 'updateTodoItem' item.id %}" class="btn btn-primary">update</a>
        <a href="{% url 'deleteTodoItem' item.id %}" class="btn btn-danger">delete</a>
      </div>
    </div>
    {% endfor %}
  </div>
{%endblock content%}